<div class="container">
  <div class="row">
    <h1>Card Example</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <template-card></template-card>
    </div>
    <div class="col-sm">
      <template-card></template-card>
    </div>
    <div class="col-sm">
      <template-card></template-card>
    </div>
    <div class="col-sm">
      <template-card></template-card>
    </div>
  </div>
  <div class="row">
    <h1>Dimensions Example</h1>
  </div>
  <div class="row">
    <div class="col-md">
      <template-dimensions></template-dimensions>
    </div>
  </div>
  <div class="row">
    <h1>Slider Example</h1>
  </div>
  <div class="row">
    <div class="col-md">
      <template-slider></template-slider>
    </div>
  </div>
  <div class="row">
    <h1>Image Gallery Example</h1>
  </div>
  <div class="row">
    <div class="col-md">
      <template-imagegallery></template-imagegallery>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
